%h2
  =book.name
%h2 
  by
  =book.author
%hr
%h2 Editorial
%h3 
  =book.editorial
%h2 Isbn
%h3
  =book.isbn
%h2 Year
%h3
  =book.year
%h2 Pages
%h3
  =book.pages
=link_to "Edit", edit_book_path(book)
=link_to "Delete", book_path(book), method: :delete
